services:
  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: global_classrooms_user
      POSTGRES_PASSWORD: GlobalClass2025
      POSTGRES_DB: global_classrooms
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
